h1 {
    color:blue;
}

img {
    width: 400px;
}

#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: rgb(197, 136, 79);
    padding: 50px;
    border: 4mm ridge rgba(211, 220, 50, .6);
    
}

#spanId {
    font-size: 18px;
    margin: 2px;

}


